.place-side{
    margin-top: 2rem;
}
.side-accord{
    display: flex;
    justify-content: space-between;
    padding: 0.5rem;
    background-color: white;
    height: 2rem;
    align-items: center;
    font-weight: 800;
    box-shadow: -8px 8px 50px rgba(218, 128, 11, 0.212), inset 0 -5px 6px 3px rgba(218, 128, 11, 0.212) ;
    
}
.body-content{
    max-width: 500px;
}
.button{
    color: tomato;
}
.place-side h6{
    background-color: white;
    box-shadow: inset -1px 10px 10px rgba(0, 0, 0, 0.116) ;
    padding: 1rem;
}

@media only screen and (min-width : 992px){
    .side-accord{
        max-width: 500px;
    width: 500px;

    }

}